*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain-image{
    margin: 20px auto;
    width: 80%;
    aspect-ratio: 16/10;
    background-image: url(./assets/images/KungfuPanda.jpg);
    background-size: contain;
}

.contain-videos{
    margin: 20px auto 0;
    width: 80%;
    aspect-ratio: 16/10;
}
.contain-videos .video{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.conatain-map-poly{
    margin: 20px auto 0;
    width: 80%;
    aspect-ratio: 16/10;
}
.conatain-map-poly .map{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.navigation{
    width: 100%;
    height: 40px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
}
.navigation li{
    background-color: #333333;
    padding: 0 20px;
    list-style: none;
    line-height: 40px;
}
.navigation li:hover{
    background-color: #05aa6d;
}
.navigation li a{
    text-decoration: none; 
    color: white; 
}

@media screen and (max-width: 768px) {
    .navigation{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .contain-image{
        background-image: url(./assets/images/one-pice-wano.webp);
    }
}
